.list-book{
    position: relative;
    margin-top: 15%;
    height: auto;
    background-color: #fff;
    width: 80%;
    position: relative;
    top: 40px;
    margin-left: 10%;
    border-radius: 10px;
}

.list-book .tile-list{
    display: flex;
    border-bottom: 1px solid rgb(219, 211, 211);
}

.list-book table{
    display: block;
    position: relative;
    left: -10px;
}
.list-book table tr td{
    padding:  5px 30px ;
    line-height: 10px;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-clamp: 1;
    width: 250px;
}
.list-book table tr td .color-text-list{
    color: rgb(219, 213, 213);
}

tr{
    display: table-row;
    vertical-align: inherit;
}
.list-book table tr td .over-text{
    font-size: 1em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-clamp: 1;
    width: 250px;

}

.list-book table tr td h5{
    font-size: 1em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-clamp: 1;
    width: 250px;
}

.color-col{
    background-color: #f5f5f5;
}