.list-book{
    position: relative;
    margin-top: 15%;
    height: auto;
    background-color: #fff;
    width: 80%;
    top: 30px;
    margin-left: 10%;
    border-radius: 10px;
}

.list-book .tile-list{
    display: flex;
    border-bottom: 1px solid rgb(219, 211, 211);
    align-items: center;
    font-size: 1em;
}

.list-book .tile-list h4, a{
    padding: 0 20px;
}

.list-book .tile-list a{
    text-decoration: none;
    color: rgb(168, 117, 40);
    opacity: 0;
    transition: 0.3ms ease-in;
}

.list-book .tile-list a:hover{
    opacity: 100;
}
.list-book table{
    display: block;
    position: relative;
    left: -10px;
}
.list-book table tr td{
    padding:  5px 30px ;
    line-height: 10px;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-clamp: 1;
    width: 250px;
}
.list-book table tr td .color-text-list{
    color: rgb(219, 213, 213);
}

tr{
    display: table-row;
    vertical-align: inherit;
}
.list-book table tr td .over-text{
    font-size: 1em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-clamp: 1;
    width: 250px;

}

.list-book table tr td h5{
    font-size: 1em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-clamp: 1;
    width: 250px;
}

.color-col{
    background-color: #f7f7f7;
}

.text-hide-bxh{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 200px;
    font-size: 1em;
}


/*List-BxH*/
.list-bxh{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    margin-top: 5%;
    margin-left: 10%;
    position: relative;
    word-wrap: break-word;
    padding: 30px;
}
.list-bxh .box-1{
   max-width: 30%;
    position: relative;
   border-radius: 20px;
   box-shadow:  5px 5px 5px 5px #f1f1f1;
   
}

.list-bxh .tittle-main{
    display: flex;
}

.list-bxh .tittle-main h1{
    font-size: 1.2em;
    padding: 20px;
}
.list-bxh .tittle-main a{
    font-size: 1em;
    padding: 20px;
    text-decoration: none;
    color: rgb(168, 117, 40);
}


table .img-bxh a img{
    width: 80px;
    height: 120px;
    outline: 1px solid transparent;
    position: relative;
    right: 20px;
    top: -30px;
}

table .img-bxh::before{
    position: absolute;
    z-index: 3;
    top: 3%;
    left: 10%;
    width: 100%;
    height: 90%;
    background-color: #999;
}
table .img-bxh{
    transform: perspective(100px) rotateY(-10deg);
}

.img-bxh .img-bxh-cover{
    position: relative;
    transition: all .2s ease-in-out;
    transform: translateZ(50px);
}

table .img-bxh::after{
    position: absolute;
    z-index: 2;
    top: -5px;
    width: 8%;
    height: 70%;
    content: "";
    background-color: #efefef;
    box-shadow: inset 0 0 5px #333;
    left: 65%;
    transform: perspective(70px) rotateY(30deg);

}

.container-infor-bxh .edit-keo-hoa-thinhhanh{
    display: flex;
}

.container-infor-bxh .edit-keo-hoa-thinhhanh img{
    width: 20px;
    height: 20px;
    position: relative;
    top: 5px;
}

.container-infor-bxh .flex-bxh-author{
    display: flex;
    align-items: center;
    color: #666;
    font-size: 0.9em;
    position: relative;
    top: -20px;
}
.container-infor-bxh .flex-bxh-author p{
    position: relative;
    top: 10px;
    
}

.container-infor-bxh{
    padding: -40px;
}

.first .medal img{
    position: relative;
    top: -65px;
}

.first{
    text-align: center;
}

.medal-2 img{
    position: relative;
    margin-right: 5px;
}

tr td h5{
    font-size: 1em;
    margin-left: 5px;
}