*{
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
    
}




/*header box*/
.hearder .top-header{
    background:  #f4f4f4;
    display: flex;
    justify-content: flex-end;
    position: relative;
}
.top-header div{
    padding: 10px;
    position: relative;
    right: 15%;
}
.top-header div a{
    text-decoration: none;
    color: #333;
    font-size: 0.9em;
}

.top-header div a:hover{
    color: rgb(168, 117, 40);
}





/*center-header box*/
.center-header{
    width: 100%;
    height: 150px;
    position: relative;
    display: flex;
    justify-content: space-around;
    top: 10px;
}


.center-header .form-search{
    width: 30%;
    position: relative;
    top: 30px;
    left: -60px;
}

.form-search nav{
    border-radius: 30px;
    background: white!important;
   color: #333!important;
   border: 2px solid rgb(168, 117, 40) ;
}

.form-search nav .collapse .form-inline{
        width: 100%;
}

.form-inline .md-form .form-edit{
    color: #333!important;
    width: 300px;
}


.form-inline .btn-edit{
    word-wrap: break-word;
    position:absolute;
    background: inherit;
    padding: 8px;
   left: 85%;
   border: none;
}

.center-header .logo img{
    width: 100%;
    height: 80px;
   position: relative;
   top: 10px;
}

.icon-header{
    display: flex;
    align-items: center;
    width: 8%;
    height: 50px;
    border:  1px solid #333;
    border-radius: 10px;
    position: relative;
    top: 30px;
    cursor: pointer;
}
.icon-header i{
    margin-left: 20px;
}
.icon-header p{
    position: relative;
    top: 7px;
    left: 5px;
}
.icon-header:hover{
    background-color: #333;
    color: white;
}




/*header-3 box*/
.bottom-header{
    background: #666;
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 40px;
    width: 100%;
  margin-top: -30px;
  padding: 25px;
  align-items: center;
}

.bottom-header .menu-1 .menu-item{
    text-decoration: none;
    color: white;
    padding: 20px;
    position: relative;
    top: 8px;
    left:70px;
}

.dropdown {
    position: relative;
    display: inline-block;
  }
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    top: 40px;
    left: 50px;
  }

  .dropdown:hover .dropdown-content {
    display: block;
}

.col-6{
    flex: 0 0 50%;
    max-width: 50%;
    position: relative;
    display: flex!important;
    text-align: center!important;
    
}

.dropdown-item{
    display: block;
    width: 100%;
    padding: .375rem 1.25rem;
    clear: both;
    font-weight: 400;
    color: #212529!important;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}
.no-gutters{
    margin-left: 0;
    margin-right: 0;
    display: flex;
}


.bottom-header .up{
    position: relative;
   width: auto;
   height: 48px;
   top: 8px;
   right: 7%;
}
.up li{
    list-style: none;
    position: relative;
    width: 100%;
    height: 100%;

}
.up li a{
    color: white;
    text-decoration: none;
    position: relative;
    top: 10px;
    left: -10px;
}
.up:hover{
    background: rgb(117, 115, 115);

}


/*Main 1*/
.main{
    background: url(../img/home-bg.jpg) top;
    background-repeat: no-repeat;
    display: block;
}
 .main .main-1-container{
    background-color: #fff;
    height: 600px;
    width: 80%;
    position: relative;
    top: 40px;
    margin-left: 10%;
    border-radius: 10px;
    display: flex;
}
.main-1-container .top-1 .tittle-main{
    display: flex;
    justify-content:space-around;
    align-items: center;
    position: relative;
    top: 10%;
}


.top-1 .tittle-main h1{
    position: relative;
    left: -100px;
    font-size: 1.2em;
}
.top-1 .tittle-main a{
    position: relative;
    left: 30px;
    text-decoration: none;
    color: rgb(168, 117, 40);
    z-index: 1;
    opacity: 0;
    transition: 0.3ms ease-in;
}

.top-1 .tittle-main a:hover{
    opacity: 100;
}

.main-1-container .top-1 .container-book-man-1{
    padding: 50px;
    display: grid;
    grid-template-columns: auto auto;
    position: relative;
    left: -25px;
}

.container-book-man-1 .book-top-main .img-book-main img{
   width: 72px;
   height: 96px;
   position: relative;
  
}
.container-book-man-1 .book-top-main{
    display: flex;
    align-items: center;
    height:200px;
    position: relative;
    padding: 10px;
    margin-top: -30px;
}

.book-top-main .container-infor{
    align-items: center;
    height: 96px;
    position: relative;
   
   font-size: 0.7em;
   padding: 5px;
}

.container-infor .infor-author{
    display: flex;
    align-items: center;
    justify-content: space-between;
   margin-top: -20px;
    text-align: center;
}

.infor-book h3 {
    overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 200px;
  font-size: 1.3em;
}

.infor-author .author{
    display: flex;
}

.author i ,p{
    padding: 5px;
}
.infor-author .color-text{
    border: 1px solid rgb(168, 117, 40);
    color: rgb(168, 117, 40);
    width: 40%;
   height: 25px;
   margin-top: -15px;
}





/*Main-2*/
.top-2{
    position: relative;
    top: 45px;
}
.top-2 .tittle-main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    left: -35px;
    top: 10px;
}

.top-2 .tittle-main h1{
    font-size: 1.3em;
    margin-left: -28px;
}
.top-2 .tittle-main a{
    position: relative;
    left: 75px;
    color: rgb(168, 117, 40);
    opacity: 0;
    transition: 0.3ms ease-in;
}

.top-2 .tittle-main a:hover{
    opacity: 100;
}

.top .had-read{
    position: relative;
}

.had-read .container-had-read .img-had-read{
    display: flex;
    align-items: center;
}


.container-had-read .img-had-read img{
    width: 32px;
    height: 47.775px;
}

.img-had-read .infor-had-read{
    line-height: 5px;
    margin-left: 20px;
    position: relative;
    top: 10px;
}

.img-had-read .infor-had-read h5{
    font-size: 1em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 250px;
   
}

.img-had-read a{
    position: relative;
    top: 15px;
    text-decoration: none;
    color: rgb(168, 117, 40);
    width: 100px;
    font-size: 0.8em;
}

.infor-had-read p{
    font-size: 0.8em;
}

/*Main-3*/

.top-2 .introduc .tittle-main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.introduc ul li a{
    color: #333;
    text-decoration: none;
}

.introduc ul li a:hover{
    color: rgb(168, 117, 40);
}