*{
    box-sizing: border-box;
}


.dropdown {
    position: relative;
    display: inline-block;
  }
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }

  .dropdown:hover .dropdown-content {
    display: block;
}

.col-6{
    flex: 0 0 50%;
    max-width: 50%;
    position: relative;
    display: flex!important;
    text-align: center!important;
    
}

.dropdown-item{
    display: block;
    width: 100%;
    padding: .375rem 1.25rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}
.no-gutters{
    margin-left: 0;
    margin-right: 0;
    display: flex;
}

.main{
    background: url(../img/home-bg.jpg) top;
    background-repeat: no-repeat;
}